body{ 
background: linear-gradient(to bottom right, white, #bcbdc4);
height:4000px;}

.headerx{
position:fixed;
width:100%;
height:100px;
top:0;
left:0;
color:white;
z-index:7;
font-family:verdana;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

}

.header{
position:fixed;
width:100%;
height:100px;
background:darkred;
top:0;
left:0;
color:white;
z-index:7;
font-family:verdana;

}


#img1{left:100px;
height:50px;
width:110px;
top:25px;
}

#loginbox{width:100px;
height:20px;
background:white;
padding-left:5px;}



#form1{left:700px;
top:20px;
height:60px;
width:180px;
}

#form2{left:895px;
top:20px;
height:60px;
width:200px;}
}

#button1{background:white;
color:#142170;
width:50px;
height:22px;
cursor:pointer;}
#submit1{left:1100px;
top:39px;
height:25px;
width:50px;
}

.bodyx{
position:absolute;
left:0;
top:100px;
width:100%;
height:645px;
background-color:gainsboro;

}


#img2{top:150px;
left:130px;
height:250px;
width:550px;}

#intro3{top:100px;
left:700px;
font-family:verdana;
font-size:20px;
color:darkred;
height:50px;
width:300px;
margin:auto;}





#form3{top:100px;
left:400px;
font-family:verdana;
font-size:30px;
color:white;
    text-align : center;
width:470px;
height:495px;
     background-color: darkred;
}

#box{width:300px;
height:40px;
background:white;
padding:10px;
font-size:12px;
}

#description{width:300px;
height:100px;
background:white;
padding:10px;
font-size:12px;
}

#button2{width:200px;
height:40px;
background:grey;
color:white;
font-size:20px;
margin:auto;}

#button3{width:120px;
height:30px;
background:grey;
color:white;
font-size:20px;
margin:auto;}


.body1{
position:absolute;
left:0;
top:750px;
width:100%;
height:80px;
background:white;
}

#conclu1{width:930px;
top:15px;
left:200px;
color:#bcbdc4;
height:60px;}
.header1{
position:fixed;
width:100%;
height:60px;
background:#142170;
top:0;
left:0;
color:white;
z-index:7;

}
