body
{
    background: linear-gradient (to bottom right, white, black);
    height : 4000px;
}

.header1 
{
    position : fixed;
    width: 100%;
    height : 60px;
    background : darkred;
    top :0 ;
    left : 0;
    color : darkred;
    z-index : 7;
}
.header1 ul li  {
	display: inline;
       
}
.header1 ul li a {
	background-color: darkgrey;
	text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: darkblue;
    line-height:35px; 
	padding: 1px 15px;
}

.header ul {
	display: center;
    margin : 300px;

}

.header1 li a:hover {
	background-color: grey;
	text-decoration: none;
    font-weight: bold;
	color: grey;
    line-height:35px; 
	padding: 1px 15px;
    
}



#Accueil{
    top : 10px;
    width:100px;
   left : 200px;
    height : 40px;
    color : white;
    font-family:  white;
    
}
#Reseau{
    top : 10px;
    width:100px;
   left :350px;
    height : 40px;
    color : white;

    
}
#Notifications{
    top : 10px;
   left : 500px;
    height : 40px;
    color : white;
    width:100px;

    
}

#Messages{
    top : 10px;
   left : 650px;
    height : 40px;
   color : white;
        width:100px;

}


#Emplois{
    top: 10px;
   left : 800px;
    height : 40px;
   color : white;
       width:100px;
 
}
#Moi{
    
    top : 10px;
   left : 950px;
    height : 40px;
   color : white;
      width:100px;
  
}

#img1{
     
   
    height : 40px;
    position: relative;
   left: 1305px;
   top: 1px;

    
    
}
#submit1{
top : 10px;
left : 1300px;
height:40px;
color : white;
background: darkred;
font-size : 20px;
width:100px;
}

.couv{
left : 600px;
top: 60px;
height : 360px;
width: 850px;
position : absolute;
-webkit-box-shadow : 0 3px 8px rgba(0, 0, 0, .25);
}

.droite{
left : 600px;
top: 60px;
height : 360px;
width: 850px;
position : absolute;
display: none;
}

.header2{
left : 0px;
top: 0px;
background: red;
height : 60px;
width: 100%;
position : fixed;
z-index : 6;
-webkit-box-shadow : 0 3px 8px rgba(0, 0, 0, .25);
}


.form3{
top:50px;
left:400px;
font-family:verdana;
font-size:30px;
color:white;
text-align : center;
width:40%;
height:2000px;
 background-color: darkred;
    
}
#box2{width:300px;
height:150px;
background:white;
padding:10px;
font-size:12px;
}
#form4{top:100px;
left:400px;
font-family:verdana;
font-size:30px;
color:white;
    text-align : center;
width:470px;
height:495px;
     background-color: darkred;
}
.bodyxx{
position:absolute;
left:0;
top:100px;
width:100%;
height:645px;
background-color:gainsboro;

}

